html{
	overflow-x: hidden;
}

.gameHTML{
	overflow: hidden;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: white;
}

footer{
	background-color: #2d2d2d;
	height: 60px;
	width: 100vw;
	bottom: 0;
    position: absolute;
	color: white;
}

.contactMeTitle{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

.emailForm{
	text-align: center;
	width: 400px;
}

#footerContainer{
	min-height:100%;
	position:relative;
}

#footerHeader{
	padding: 10px;
}

#footerBody{
	padding:10px;
	padding-bottom:60px;
}

#textContainer{
	width : 45vw;
	display:block;
	margin:0 auto;
}

#colourContainer{
	text-align: right;
	color: #ffffff;
	background-color: #2d2d2d;
	padding-right: 50px;
	padding-top: 25px;
}

#colourPicker{
	width: 5%;
}

#colourPickerText{
	float: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mySlides {display:none}

.rightfoot{
	float: right;
	padding-right: 100px;
}
.leftfoot{
	float: left;
	padding-left: 100px;
}

@keyframes slideFromRight {
	from {margin-left: 100vw;}
	to {margin-left: 0px;}
}

#top-border{
	background-color: #2d2d2d;
	height: 88px;
}

#logo{
	background-color: #2d2d2d;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	color: white;
	float: left;
}

.pageTitle{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	animation-name: slideFromRight;
	animation-duration: 2s;
}

nav > ul{margin: 0;}

#contactMeContainer{
	background-color: #60bdb1;
	display: inline-block;
	padding-left: 60px;
	padding-right: 60px;
	border-radius: 30px;
	border-style: solid;
	border-width: 5px;
	border-color: #2d2d2d;
}

.nav {
	background-color: #60bdb1;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}

.nav > li {
	display: inline-block;
	padding-right: 50px;
	font-family: "Courier New", Courier, monospace;
}

.nav > li > a {
	text-decoration: none;
	color: #000000;
}

.nav > li > a:hover {
	color: #ffffff;
}

.nav > li > a:active {
	color: #f76f6f;
}

.textContainer{
	margin: auto;
	width: 40vw;
	text-align: justify;
}

p{
	font-family: "Tahoma";
}

.mySlides{
	margin: auto;
	height: 500;
}


#pp{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.drawings{
	float: left;
	height: 500;
}

.BulletList{
	list-style-type: circle;
}

#gc{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#snake{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.carousel-container{
	width: 600px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

.carousel-slide{
	display: flex;
	margin: auto;
	width: 100%;
}

#prevButton{
	position: absolute;
	top: 70%;
	z-index: 10;
	left: 5%;
	font-size: 50px;
	color: white;
	opacity: 0.5;
	cursor: pointer;
}

#nextButton{
	position: absolute;
	top: 70%;
	z-index: 10;
	right: 5%;
	font-size: 50px;
	color: white;
	opacity: 0.5;
	cursor: pointer;
}
